<span style="font-weight: bold">{{ 'compare.title' | t }}</span>

<table>
  {% for key in product.metafields.product_specs %}
    <tr class="row{{ forloop.index }}">
      <td class="col1" style="font-weight: bold">
        {{ key.first | capitalize }}
      </td>
      <td class="col2">{{ key.last }}</td>
    </tr>
  {% endfor %}
</table>
