{% assign avg_rating = block.settings.product.metafields.demo.avg_rating.value | round %}
<div style="color:{{ block.settings.colour }}">
  {% render 'comparison_table_rows', rating: avg_rating %}
</div>

{% render 'regions' %}

<br>


{% schema %}
{
  "name": "Product Comparison Table",
  "target": "section",
  "javascript": "product-comparison.js",
  "settings": [
    { "type": "product", "id": "product", "label": "product", "autofill": true },
    { "type": "product_list", "id": "product_list", "label": "product list" },
    { "type": "color", "id": "colour", "label": "Star Colour", "default": "#ff0000" }
  ]
}
{% endschema %}

