<span>Product Comparison App</span>
<div id="container"></div>

{% schema %}
{
  "name": "React Product Comparison",
  "target": "section",
  "javascript": "index.js",
  "stylesheet": "index.css",
  "settings": []
}
{% endschema %}
